{% extends "layouts/base-nologin.html" %}

{% block title %} Attendance for {{ course.name }} {% endblock %} 

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
<style>
    .form-control {
      border: 1px solid #ced4da; /* Adds a border to the input */
      background-color: #f8f9fa; /* A light grey background color */
      box-shadow: inset 0 1px 2px rgba(0,0,0,.075); /* A subtle inner shadow to add depth */
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; /* Smooth transition for focus effect */
    }
    .form-control:focus {
      border-color: #80bdff; /* Changes border color on focus */
      outline: 0; /* Removes the default outline */
      box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(128, 189, 255, .5); /* Adds a glow effect on focus */
    }
    .form-label {
      color: #495057; /* Making the label text a bit darker for contrast */
      font-weight: 600; /* Optional: Makes the label text bold */
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="text-center mb-4">
        <!-- Adicionando o logo -->        
        <img src="{{ ASSETS_ROOT }}/img/logos/educorp-logo-semtexto.png" alt="Logo Educorp" style="max-width: 200px;">
      </div>
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Frequência {{ course.name }}</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <form method="post" class="p-3">
              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="text" class="form-control" id="cpf" name="cpf" maxlength="11" required>
                <span id="cpf-error" style="color: red; display: none;">CPF inválido. Por favor, insira um CPF válido.</span>

              </div>
              <div class="mb-3">
                <label for="funcampSelect" class="form-label">Tipo:</label>
                <select class="form-select" id="funcampSelect" name="funcampSelect">
                  <option value="1">Unicamp</option>
                  <option value="1">Funcamp</option>
                  <option value="2">Alunos ou Externos</option>
                </select>
              </div>
              
              <div class="mb-3">
                <label for="secret" class="form-label">Código de acesso:</label>
                <input type="text" class="form-control" id="secret" name="secret" required>
                <input type="hidden" name="course_name" value="{{ course.name }}">
              </div>
              <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if messages.get('success') %}
    <div class="alert alert-success" role="alert">
        {{ messages['success'] }}
    </div>
{% endif %}
{% if messages.get('error') %}
    <div class="alert alert-danger" role="alert">
        {{ messages['error'] }}
    </div>
{% endif %}


{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
<script>
 // Função para validar CPF
  function validarCPF(cpf) {
    cpf = cpf.replace(/[^\d]+/g, '');
    if (cpf.length !== 11 || /^(\d)\1+$/.test(cpf)) return false;
    let soma = 0, resto;
    for (let i = 1; i <= 9; i++) soma += parseInt(cpf.substring(i-1, i)) * (11 - i);
    resto = (soma * 10) % 11;
    if ((resto === 10) || (resto === 11)) resto = 0;
    if (resto !== parseInt(cpf.substring(9, 10))) return false;
    soma = 0;
    for (let i = 1; i <= 10; i++) soma += parseInt(cpf.substring(i-1, i)) * (12 - i);
    resto = (soma * 10) % 11;
    if ((resto === 10) || (resto === 11)) resto = 0;
    if (resto !== parseInt(cpf.substring(10, 11))) return false;
    return true;
  }

  // Evento onsubmit para validar CPF antes de enviar o formulário
  document.querySelector('form').onsubmit = function(event) {
    const cpfInput = document.getElementById('cpf');
    const cpfError = document.getElementById('cpf-error');
    if (!validarCPF(cpfInput.value)) {
      cpfError.style.display = 'block';
      event.preventDefault();
    } else {
      cpfError.style.display = 'none';
    }
  };

  // Set Unicamp as the default selection
  document.getElementById('funcampSelect').value = '1';
  var funcamppass = false;
  document.getElementById('funcampSelect').addEventListener('change', function() {
    var matriculaInput = document.getElementById('matricula');
    
    if (this.options[this.selectedIndex].text === 'Funcamp') { // Only execute when Funcamp is selected
      matriculaInput.value = parseInt(matriculaInput.value || 0) + 2000000;
      matriculaInput.setAttribute('readonly', true);
      funcamppass = true;
    } else if (funcamppass) {
      if (matriculaInput.value) {
        matriculaInput.value = parseInt(matriculaInput.value) - 2000000;
        funcamppass = false;
      }
      matriculaInput.removeAttribute('readonly');
    }
  });  


</script>
{% endblock javascripts %}
